<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     ng-app="employeeTracker"
     >
<head>
    <meta charset="UTF-8"/>
	
    <title>ActivityTracker | Personiv</title>
	<base href="/ActivityTracker/"></base>
	
	<link rel="shortcut icon" href="/ActivityTracker/app/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/ActivityTracker/app/img/favicon.ico" type="image/x-icon" />
    <link href="/ActivityTracker/app/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

   <!-- <link href="/ActivityTracker/app/vendor/vendor.css" rel="stylesheet" />-->
   
    
    <link href="/ActivityTracker/app/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/ActivityTracker/app/vendor/metisMenu/metisMenu.css" rel="stylesheet" />
    <link href="/ActivityTracker/app/css/sb-admin-2.css" rel="stylesheet" />   
    <link href="/ActivityTracker/app/vendor/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet" type="text/css" />   
    <link href="/ActivityTracker/app/vendor/angular-ui-bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet" />  
    
  
    
    <link href="/ActivityTracker/app/css/main.css" rel="stylesheet" />
    
</head>
<body ng-controller ="MainController">
	<div class ="wrapper">
		<div ng-if="canShowNav()" ng-include="'/ActivityTracker/app/partials/nav.html'"></div>
		<div class ='ui-view'></div>
	</div>

	<script src="/ActivityTracker/app/vendor/jquery/jquery.js"></script>
    <script src="/ActivityTracker/app/vendor/bootstrap/dist/js/bootstrap.js"></script>  
  
    
    <script src="/ActivityTracker/app/vendor/metisMenu/metisMenu.js"></script>
    
    <script src="/ActivityTracker/app/js/sb-admin-2.js"></script>
    
	<script src="/ActivityTracker/app/vendor/vendor.js"></script>
  
   
	<script src="/ActivityTracker/app/vendor/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script>
    <script src="/ActivityTracker/app/js/main.js"></script>
    <script src="/ActivityTracker/app/vendor/ng-stomp/dist/ng-stomp.standalone.min.js"></script>
    <script src="/ActivityTracker/app/js/websocket.js"></script>
    
   <script src="/ActivityTracker/app/client/client.js"></script> 
 	
</body>
</html>