
<div id="page-wrapper">
  <div class="row">
    <div class="panel panel-primary" style="margin-top:22px">
        <div class="panel-heading">Group</div>
        <div class="panel-body">
   	 	<div class="pull-left">
          <div class="box-tools" style="display:inline-table">
             <div class="input-group">
               <div style="margin-right: 8px;"> Show
              	 <select ng-model="pageCap" ng-options ="page for page in numPerPageCap"  ng-change="changeNumPerPage()" style ="height:32px;border-radius:6px;">                 
			 	 </select> entries
			   </div>                 
             </div>
           </div>
          </div>
          <div class="pull-left" >
              <div class="box-tools" style="display:inline-table">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control ng-valid ng-dirty" placeholder="Search group" ng-change="searchDB()" ng-model="search_keyword" name="table_search" title="" tooltip="" data-original-title="Min character length is 3">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="searchItem()">
                          <i class="fa fa-search"></i>
                      </button>
                    </span>
                </div>

              </div>
 			
          </div>
          
          <div class="pull-right" style="padding-bottom:10px">
               	<button type="button" id ="add-task-btn" class="btn btn-primary" data-toggle="modal" data-target="#add-group" ng-click="loadTask()"><i class="fa fa-plus"></i> New Group </button>
          </div> 
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <th>Group</th>
              <th>Supervisors</th>
              <th>Members</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in filteredList">
                  <td>
                  	<div class="btn-group">
					
					  <span class="dropdown-toggle clickable" data-toggle="dropdown"  >
                        <i class="fa fa-ellipsis-h"></i>
                      </span>
					  <ul class="dropdown-menu" role="menu">
					    <li ng-click="loadAdminSelection(item)" data-toggle="modal" data-target="#add-admin">
                            <span>
                                <i class="fa fa-user-plus fa-fw"></i> New Supervisor
                            </span>
                        </li>
                        <li ng-click="loadMemberSelection(item)" data-toggle="modal" data-target="#add-member">
                            <span>
                                <i class="fa fa-user-plus fa-fw"></i> New Member
                            </span>
                        </li>
                        <li data-toggle="modal" data-target="#edit-group" ng-click="setSelectedGroup(item)">
                            <span>
                                <i class="fa fa-pencil fa-fw"></i> Rename Group
                            </span>
                        </li>  
					  </ul>
					</div> {{item.groupName}}</td>
                 <td><div ng-repeat="admin in item.admin"><i ng-click="removeAdmin(item,admin)" class="fa fa-times clickable danger"  data-toggle="tooltip" data-placement="left" title="click to remove"></i> {{admin.employee.firstName}} {{admin.employee.middleName}} {{admin.employee.lastName}} {{admin.employee.suffix}}</div></td>           
                 <td><div ng-repeat="member in item.members"><i ng-click="removeMember(item,member)" class="fa fa-times clickable danger"  data-toggle="tooltip" data-placement="left" title="click to remove"></i> {{member.employee.firstName}} {{member.employee.middleName}} {{member.employee.lastName}} {{member.employee.suffix}}</div></td>
              </tr>
            </tbody>
          </table>

          <div uib-pagination
               total-items="totalItems"
               ng-model="currentPage"
               max-size="maxSize"
               boundary-links="true"
               items-per-page ="numPerPage"
               ng-change = "pageChanged()"
               >
          </div>

        </div>
    </div>
   </div>

 
  <!-- New Group Modal -->
  <div class="modal fade" id="add-group" role="dialog">
     <div class="modal-dialog">

         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Group Details</h4>
             </div>
             <div class="modal-body">

               <form  ng-submit="addGroup()">              	
                    <div class="form-group">				       						 
                         <div class ="_custom-label">Group Name</div>
                         <input type="text" class ="form-control _custom-control" ng-model = "newGroup.groupName" required/>
                		 
					 	 <div class="form-group text-left has-error">
                           <div class="help-block" style ="text-align:center;">
                          	<i class="lnr-"></i><span>{{error}}</span>
                           </div>
                         </div>
                      
                 	</div>
                 <div class="modal-footer">
                     <input type="submit" class="btn btn-default" value ="Add" />
                     <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                 </div>
               </form>

           </div>
         </div>

     </div>
   </div> 
  
  <!-- New Admin Modal -->
  <div class="modal fade" id="add-admin" role="dialog">
     <div class="modal-dialog">

         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Supervisor Details</h4>
             </div>
             <div class="modal-body">

               <form  ng-submit="addAdmin()">              	
                    <div class="form-group">				       		
                          <div class ="_custom-label">Employee</div>
	      				 <div custom-select="emp.employee.employeeNumber +' '+emp.employee.firstName + ' '+emp.employee.lastName  for emp in adminList | filter: $searchTerm" ng-model="newItem.groupEmployee.employeeUser" autofocus required class ="_custom-control"></div>					      		
				      	
					 	 <div class="form-group text-left has-error">
                           <div class="help-block" style ="text-align:center;">
                          	<i class="lnr-"></i><span>{{error}}</span>
                           </div>
                         </div>
                      
                 	</div>
                 <div class="modal-footer">
                     <input type="submit" class="btn btn-default" value ="Add" />
                     <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                 </div>
               </form>

           </div>
         </div>

     </div>
   </div> 
   
     <!-- New Member Modal -->
  <div class="modal fade" id="add-member" role="dialog">
     <div class="modal-dialog">

         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Member Details</h4>
             </div>
             <div class="modal-body">

               <form  ng-submit="addMember()">              	
                    <div class="form-group">				       		
                          <div class ="_custom-label">Employee</div>
	      				 <div custom-select="emp.employee.employeeNumber +' '+emp.employee.firstName + ' '+emp.employee.lastName  for emp in memberList | filter: $searchTerm" ng-model="newItem.groupEmployee.employeeUser" autofocus required class ="_custom-control"></div>					      		
				      	
					 	 <div class="form-group text-left has-error">
                           <div class="help-block" style ="text-align:center;">
                          	<i class="lnr-"></i><span>{{error}}</span>
                           </div>
                         </div>
                      
                 	</div>
                 <div class="modal-footer">
                     <input type="submit" class="btn btn-default" value ="Add" />
                     <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                 </div>
               </form>

           </div>
         </div>

     </div>
   </div> 
   
    <!-- Edit Group Modal -->
  <div class="modal fade" id="edit-group" role="dialog">
     <div class="modal-dialog">

         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Group Details</h4>
             </div>
             <div class="modal-body">

               <form  ng-submit="editGroup()">              	
                    <div class="form-group">				       						 
                         <div class ="_custom-label">Group Name</div>
                         <input type="text" class ="form-control _custom-control" ng-model = "selectedGroup.groupName" required/>                     
					 	 <div class="form-group text-left has-error">
                           <div class="help-block" style ="text-align:center;">
                          	<i class="lnr-"></i><span>{{error}}</span>
                           </div>
                         </div>
                      
                 	</div>
                 <div class="modal-footer">
                     <input type="submit" class="btn btn-default" value ="Save" />
                     <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                 </div>
               </form>

           </div>
         </div>

     </div>
   </div> 
   
  <!-- Success Modal -->
  <div class="modal fade" id="successModal" role="dialog" style ="margin-top:200px;">
    <div class="modal-dialog modal-md">
         <div class="alert alert-success" style=" text-align:center; height:116px;">
           	<div class="close" data-dismiss="modal" aria-label="close">&times;</div>
				<div style ="position:relative;top:30px;"><strong>{{success_message}}</strong></div>
	 </div>
    </div>
  </div>


  </div>
